body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.calc {
    position: relative;

    width: 20%;
    height: 50%;

    background: #e5e5e5;
    border: 3px solid #000;
}

.display {
    width: 100%;
    
    text-align: right;
}

.display_operation {
    height: 10%;
}

.display_result {
    height: 15%;

    font-size: 30px;
}

.btns {
    display: flex;
    flex-wrap: wrap;

    height: 75%;

    gap: 2px;
}

.btn {
    flex: 1;
    min-width: 20%;

    border: none;

    cursor: pointer;
}

.btn_operator, .btn_function {
    background: #f0f0f0;
}

.btn_number, .btn_operator[value='negate'] {
    background: #fafafa;
}

.btn_function[value='='] {
    background: #e5b796;
}

.btn_function[value='=']:hover {
    background: #d98360;
}

.btn_operator:hover, .btn_function:hover, .btn_number:hover {
    background: #dedede;
}

.history {
    position: absolute;
    top: 0;
    right: -250px;
    z-index: 1000;

    width: 250px;
    height: 100%;

    border: 3px solid #000;

    overflow-y: scroll;
}

.history__item {
    margin: 20px 0;
    padding: 30px 20px;
    
    border: 1px solid red;
    
    cursor: pointer;

    transition: background .2s linear;
}

.history__item:hover {
    background: #888;
}