body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.calc {
    width: 20%;
    height: 50%;

    border: 3px solid #000;
}

.display {
    width: 100%;
    
    direction: rtl;
}

.display_result {
    height: 10%;
}

.display_number {
    height: 15%;

    font-size: 30px;
}

.btns {
    display: flex;
    flex-wrap: wrap;

    height: 75%;
}

.btn {
    width: 25%;
}